body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
}
.header{
    background:url("images/Students.jpg");
    background-size: cover;
    background-position: top;
    height: 500px;
}

.header .navbar-brand img{
    height: 55px;
    width: 160px;
}
.header ul li{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    margin: 10px;
}
.header ul li a{
    color: rgb(238,118,88);
    transition: all ease-out 0.8s;
}


.header ul li a:hover{
    transform: translateY(-10%);
}
.header ul li a.active{
    transform: translateY(0);
}

.content{
    color:rgb(77, 30, 163);
    font-weight: bold;
    margin: 50px;
}
.content h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:35px;
}
.content h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    
}
.content.button{
    background: linear-gradient(to right, rgb(216, 115, 241), rgb(240, 118, 209));
    padding: 8px;
    color: saddlebrown;
    font-size: medium;
    font-weight: 700;
    font-family: cursive;
    margin-top: 20px;
    border-radius: 10px;
}
.content.button:active{
    box-shadow: 3px 3px 0 black;
    transform: translateY(3px);
}

.container .heading h1,.mentor-form .heading h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    width: fit-content;
}
.container .row{
    margin-top: 50px;
}
.container .card{
    border-radius: 20px; 
    transition: transform 0.3s;
    margin:  60px;
    float:left;
}
.container .card img{
    
    width:70%;
    border-radius: 20px;
    margin-top: -7px;
    margin-left: -3.5%;
    margin-right: -3.5%;
}
.container .card:hover{
    transform: translateY(-15px);
    transition: transform 0.3s;
}
.container .card .info h3{
    margin-top: 4px;
    font-family: 'Caveat', cursive;
}
.container .card .info p{
    font-style: italic;
}
.container .card .apply-btn{
    margin-bottom: -8px;
    margin-left: -2%;
    width: 104%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card1 .apply-btn{
    background: rgb(115, 70, 240);
}
.card2 .apply-btn{
    background:rgb(36, 98, 230);
    
}
.card3 .apply-btn{
    background:rgb(226, 91, 24);
}
.card4 .apply-btn{
    background:orangered;
}
.apply-btn .btn{
    outline: none !important;
    border: none !important;
}

.testimonials{
    margin:50px auto;
}
.testimonials h1
{
    text-align:center ;
    text-transform: uppercase;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.testimonials h1::after
{
    content:'';
    background: #ff9800;
    display: block;
    height:3px;
    width:170px;
    margin:20px auto 5px;
}
.testimonials .row
{ 
    margin-top: 30px;

}
.col{
    margin:40px auto;
    
}
.profile{
    padding:70px 10px 10px;
    background-color: #efefef;
}
.profile img{
    top:-60px;
    position: absolute;
    left:calc(50% -100px);
    border:10px solid white;
}
.user{
    width:120px;
    height: 120px;
    border-radius: 50%;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #ff9800;
}
span{
    font-size: 12px;
    color: #333;

}
blockquote{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before{
    content:close-quote;
    font-size: 50px;
    position: relative;
    color: #ff9800;
    line-height: 20px;
    bottom: -15px;
    right:5px;
}
blockquote::before{
    content:close-quote;
    font-size: 50px;
    position: relative;
    color: #ff9800;
    line-height: 10px;
    bottom: -15px;
}
.profile:hover
{
    box-shadow: 0 0 15px 15px rgba(0, 0,0,0.2);
    cursor: pointer;
    transition: 00.5s;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color:lightgray;
}
footer .container .sec{
    margin-right: 30px;
}
footer .container .sec.aboutus{
    width: 40%;
}
footer .container h2{
    position: relative;
    color:black;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer p{
    color:red;
}
.sci{
    margin-top: 20px;
    line-height:3em;
}
.sci li a{
    display: inline-block; 
    margin-right: 10px;
    border-radius: 4px;
    
}
.sci li a:hover{
    background-color:black;
}
.sci li a .fa{
    font-size: 20px;
}
footer .quick-links{
    position: relative;
    width: 25%;
}
footer .quick-links ul li a{
    color:red;
    margin-bottom: 10px;
    display: inline-block;
}
footer .quick-links ul li a:hover{
    color:orange;
}
footer .contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
    color:red;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span, .contact .info li a{
    color:red;
}
.contact .info li a:hover{
    color: #fff;
}
.copyright-text{
    width: 100%;
    background-color: #181818;
    padding: 8px 100px;
    color: #999;
}

@media (max-width:600px) {
    

    .header ul li{
        text-align: center;
    }
    .header .content h2{
        font-size: 38px;
        letter-spacing: -2px;
    }
    .header .content h4{
        font-size: 26px;
    }
    .header .content .btn{
        font-size: 15px;
        padding: 8px 20px;
    }
    .container .card .apply-btn{
        margin-left: -3%;
        width: 106%;
    }
    .testimonials:hover .card:not(:hover){
        transform: scale(0.9);
    }
    footer{
        padding: 40px;
    }
    
    footer .container{
        flex-direction: row;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus, footer .quick-links, footer .contact{
        width: 100%;
    }
    .copyright-text{
        padding: 8px 40px;
    }
}

@media screen and (max-width: 768px){
    .container .card .apply-btn{
        
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .navbar{
        padding: 0 40px;
    }
    .header .content h2{
        font-size: 30px;
    }
    .header .content h4{
        font-size: 20px;
    }
    .card{
        margin: 0 70px;
    }
    .card img {
        width: 600px;
        height:200px;
        
    }
    .mentor-form .domains{
        margin-left: 10px;
    }
}
@media screen  and (max-width:408px){
    .testimonials .card{
        margin-left: -1px;
        margin-right: -1px;
    }
}
@media screen and (max-width: 323px){
    .header .navbar-brand img{
        height: 50px;
        width: 110px;
    }
}
